
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body
{
    margin: 0;
    padding: 0;
    background: #590D17;
    font-family: 'Arvo' , serif;
    font-size: 14px;
    color: #FFFFFF;
}

h1, h2, h3
{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 2.4em;
}

h3
{
    font-size: 1.6em;
}

p, ul, ol
{
    margin-top: 0;
    line-height: 180%;
}

ul, ol
{
}

a
{
    text-decoration: none;
    color: Yellow;
}

a:hover
{
    opacity: 0.5;
    color: #fff;
}

img
{
}

img.border
{
    border: 6px solid #E1F1F6;
}

img.alignleft
{
    float: left;
    margin-right: 25px;
}

img.alignright
{
    float: right;
}

img.aligncenter
{
    margin: 0px auto;
}

#wrapper
{
    margin: 0 auto;
    padding: 0;
}

/* Menu */

#menu-wrapper
{
    height: 50px;
    background: url(../images/menu-wrapper.png) repeat-x left top;
}

#menu
{
    width: 900px;
    height: 50px;
    margin: 0px auto 0 auto;
    padding: 0px 40px;
    text-align: center;
}

#menu ul
{
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    display: inline-block;
    border-radius: 10px;
}

#menu a
{
    display: inline-block;
    width: 120px;
    height: 50px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    border: none;
}

#menu .current_page_item a
{
    background: #770818;
}

#menu a:hover
{
    background: #770818;
}

.contentTitle
{
    overflow: hidden;
    width: 820px;
    margin: 10px auto 10px auto;
    padding: 10px 5px 10px 5px;
    background: rgba(0,0,0,.5);
}

.contentTitle .title
{
    color: #FFFFFF;
}
.content
{
    overflow: hidden;
    width: 820px;
    margin: 10px auto 10px auto;
    padding: 10px 5px 10px 5px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size: medium;
}

/* Footer */

#footer
{
    margin: 0 auto;
    padding: 0em 0em 1em 0em;
    background: rgba(0,0,0,.06);
    vertical-align: middle;
}

#footer p
{
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    text-align: center;
    color: #A0A0A0;
}

#footer a
{
    color: #8A8A8A;
}


